In [ ]:
# imported libraries for data reading and writing into MongoDB and dataframe for preprocessing
import requests
import json
from pymongo import MongoClient
from sodapy import Socrata
import pandas as pd
import numpy as np

# imported libraries for data reading and writing into POstgresSQL
import psycopg2
import sqlalchemy as sa
from sqlalchemy import create_engine
from urllib.parse import quote_plus

# imported libraries for Visualisation
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

## Part 1 - Data Reading and writing in MongoDB atlas

We have data for neywork in Causes of death , covid and jobs

dataset worked on by-

Leading Causes of Death - Ayusha Kashilkar

NYC Jobs - Shweta Salekar

NYC SARS - Suchal Pote

In [ ]:
#Establishing connection with Mongodb Atlas

client = MongoClient("mongodb+srv://dap:dap@cluster0.nddcd.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")

#database and cllection name  
db1 = client['Causes_of_Death']
collection1 = db1['Causes_of_Death']

database2 = client['SARS']
collection2 = database2['SARS']

db3 = client['NYC_Jobs']
collection3 = db3['NYC_Jobs']

try:
#Added by Ayusha Kashilkar
# fetched Json data from API and loaded into mongo DB 
#code was refered from Newyork Open data site for fetching extra rows https://dev.socrata.com/foundry/data.cityofnewyork.us/jb7j-dtam
    
    client1 = Socrata("data.cityofnewyork.us", None)
    results = client1.get("jb7j-dtam", limit=2000)
    collection1.insert_many(results)
except:
    print("Table not loaded in Mongo")    


#Added by Suchal Pote     
# fetched Json data from API and loaded into mongo DB 
#insert data in mongodb database
try:
 
    database = client.SARS
    response_API= requests.get('https://data.cityofnewyork.us/resource/f7dc-2q9f.json')
    data= response_API.text
    load=json.loads(data)
    Done= collection2.insert_many(load)
    
except:
    print("Failed to load")
    

#Added by Shweta
# fetched Json data from API and loaded into mongo DB 

try:

    data = Socrata("data.cityofnewyork.us", None)
    result = data.get("kpav-sd4t", limit=5000)
    len(result)
    collection3.insert_many(result)
    
except:
    print("dataset cannot be loaded")

# Part 2 - Data Cleaning and Data Preprocessing

Start code - by Ayusha Kashilkar for data cleaning and data preprocessing of Leading cause of death

In [ ]:
#Loading data from collection of mongo to dataframe
data = collection1.find()
datas = pd.DataFrame(list(data))
datas

In [ ]:
datas['leading_cause'].nunique()

In [ ]:
# dropping ID as its not required
datas = datas.drop(['_id'],axis = 1)
datas.shape

In [ ]:
#dropping null values from the dataframe
datas = datas.dropna()
datas.isnull().sum()

In [ ]:
#Checking data types
datas.dtypes

In [ ]:
#changing data type of year column
datas['year'] = datas['year'].astype(int)

In [ ]:
# some rows contained . as valu therefore had to replace it , as string cannot be converted to float
datas['deaths'] = [str(i).replace(".", '') for i in datas['deaths']]
datas['death_rate'] = [str(i).replace(".", '') for i in datas['death_rate']]
datas['age_adjusted_death_rate'] = [str(i).replace(".", '') for i in datas['age_adjusted_death_rate']]

In [ ]:
#converted the data type - float of 3 columns from string
datas['deaths'] = pd.to_numeric(datas['deaths'],downcast='float')
datas['death_rate'] = pd.to_numeric(datas['death_rate'],downcast='float')
datas['age_adjusted_death_rate'] = pd.to_numeric(datas['age_adjusted_death_rate'],downcast='float')

In [ ]:
#checking info of dataframe
datas.info()

In [ ]:
#Filling mean values in places were no values were present
datas['deaths'] = datas['deaths'].fillna(datas['deaths'].mean())
datas['death_rate'] = datas['death_rate'].fillna(datas['death_rate'].mean())
datas['age_adjusted_death_rate'] = datas['age_adjusted_death_rate'].fillna(datas['age_adjusted_death_rate'].mean())

In [ ]:
# inconsistency in values of sex - Female,Male, M, F , - so replaced M and f WIth feale and male 
datas['sex'].replace(to_replace=['F'], value='Female', inplace=True)
datas['sex'].replace(to_replace=['M'], value='Male', inplace=True)

In [ ]:
#for further visualisation , top 10  values scientififc names were replaced with their well know names

datas['leading_cause'].replace(to_replace=['Malignant Neoplasms (Cancer: C00-C97)'], value='Cancer', inplace=True)
datas['leading_cause'].replace(to_replace=['Influenza (Flu) and Pneumonia (J09-J18)'], value='Flu and Pneumonia', inplace=True)
datas['leading_cause'].replace(to_replace=['Diseases of Heart (I00-I09, I11, I13, I20-I51)'], value='Diseases of Heart', inplace=True)
datas['leading_cause'].replace(to_replace=['Diabetes Mellitus (E10-E14)'], value='Diabetes Mellitus', inplace=True)
datas['leading_cause'].replace(to_replace=['Cerebrovascular Disease (Stroke: I60-I69)'], value='Stroke', inplace=True)
datas['leading_cause'].replace(to_replace=['Chronic Lower Respiratory Diseases (J40-J47)'], value='Respiratory Diseases', inplace=True)
datas['leading_cause'].replace(to_replace=['Cerebrovascular Disease (Stroke: I60-I69)'], value='Stroke', inplace=True)
datas['leading_cause'].replace(to_replace=['Essential Hypertension and Renal Diseases (I10, I12)'], value='Renal Diseases', inplace=True)

datas['leading_cause'].replace(to_replace=['Accidents Except Drug Posioning (V01-X39, X43, X45-X59, Y85-Y86)'], value='Accidents', inplace=True)
datas['leading_cause'].replace(to_replace=['Mental and Behavioral Disorders due to Accidental Poisoning and Other Psychoactive Substance Use (F11-F16, F18-F19, X40-X42, X44)'], value='Mental and Behavioral Disorders', inplace=True)

End code by Ayusha Kashilkar

Start code by Suchal Pote data cleaning and data preprocessing

In [ ]:
#Retrive data from mognodb to dataframe
myclient = MongoClient("mongodb+srv://dap:dap@cluster0.nddcd.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
database = myclient['SARS']
collection = database['SARS']
dataset = pd.DataFrame(list(collection2.find()))

In [ ]:
dataset.head()

In [ ]:
#Termination of unneeded columns
del dataset["_id"]
del dataset["annotation"]

In [ ]:
dataset.info()

In [ ]:
#Fixing the column name which got changed in mongoDB 
dataset.rename(columns = {'copies_l' : 'Concentration_SARS_CoV2', 'copies_l_x_average_flowrate' : 'Per_capita_SARS_CoV2_load'}, inplace = True)

In [ ]:
dataset.info()

In [ ]:
#To check and remove null values
dataset.isnull().sum()
dataset.dropna(how='any',inplace=True)
dataset.info()

In [ ]:
dataset

End code by Suchal Pote

Start code by Shweta Salekar data cleaning and preprocessing

In [ ]:
cursor = db3.NYC_Jobs.find()
list_cur=list(cursor)
data_= pd.DataFrame(list_cur)
data_

In [ ]:
data_.isnull().sum()

In [ ]:
#dropping column _id
data_.drop(columns=['_id'], inplace=True)

In [ ]:
#dropping other unwanted columns
data_.drop(columns=['minimum_qual_requirements'], inplace=True)
data_.drop(columns=['additional_information'], inplace=True)
data_.drop(columns=['post_until'], inplace=True)
data_.drop(columns=['work_location_1'], inplace=True)

In [ ]:
#inserting NaN to null values
data_.fillna("NaN")

In [ ]:
data_.info()

In [ ]:
#checking duplicate values
data_.duplicated()

# Part3 A - Reading and Writing Processed Data to PostgreSql

In [ ]:
#establishing the connection for Postgre SQL

conn = psycopg2.connect(database="postgres", user='postgres', password='password', host='localhost', port= '5432')
conn.autocommit = True

#Creating a cursor object 
cursor = conn.cursor()

#Executing an MYSQL function using the execute() method
cursor.execute("select version()")

# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print("Connection established to: ",data)

#Closing the connection
conn.close()

engine = sa.create_engine('postgresql://postgres:password@localhost:5432/postgres')
con_engine = engine.connect()

In [ ]:
#creating a table in postgre and then loading thetable data into dataframe through pandas - ayusha Kashilkar
datas.to_sql('Causeofdeath', con_engine, if_exists='replace', index=False)

In [ ]:
data = pd.read_sql_table("Causeofdeath",con_engine)

In [ ]:
#Creating table in PostgreSQL and loading data into dataframe shweta
data_.to_sql('NYC_Jobs',con_engine, if_exists='replace',index=False)

In [ ]:
dataset=pd.read_sql_table("NYC_Jobs",con_engine)

# Part3 B- Reading and Writing Processed Data to MySQL

START CODE BY SUCHAL POTE

In [ ]:
# Drop the database if already exists.
import pymysql.cursors

db = pymysql.connect(host='127.0.0.1',
                             user='root',
                             port=3306,
                             password='9545')
try:
    with db.cursor()as cursor:
        cursor.execute('DROP DATABASE IF EXISTS mydatabase;')
        
finally:
    db.close()

In [ ]:
# create new database in MySQL
import pymysql.cursors

db = pymysql.connect(host='127.0.0.1',
                             user='root',
                             port=3306,
                             password='9545')
try:
    with db.cursor()as cursor:
        cursor.execute('CREATE DATABASE Mydatabase;')
        
finally:
    db.close()

In [ ]:
# create connection to check the databse
db = pymysql.connect(host='127.0.0.1',
                     user='root',
                     port=3306,
                     password='9545',
                     database='Mydatabase')

cursor = db.cursor()
cursor.execute("SHOW DATABASES;")
result = cursor.fetchall()

for M in result:
    print(M)

db.close()

In [ ]:
#Drop the table if already exists
db = pymysql.connect(host='127.0.0.1',
                     user='root',
                     port=3306,
                     password='9545',
                     database='Mydatabase')

mycursor = db.cursor()

mycursor.execute("drop table if exists SARS;")

In [ ]:
#create the new table
db = pymysql.connect(host='127.0.0.1',
                     user='root',
                     port=3306,
                     password='9545',
                     database='Mydatabase')

mycursor = db.cursor()

mycursor.execute("CREATE TABLE SARS(Sample_Date VARCHAR(100),Test_date varchar(100),WRRF_Name varchar(100),WRRF_Abbreviation varchar(100),Concentration_SARS_CoV2 varchar(100),Per_capita_SARS_CoV2_load varchar(100),Population_Served varchar(100));")

In [ ]:
# create connection to check the tables
db = pymysql.connect(host='127.0.0.1',
                     user='root',
                     port=3306,
                     password='9545',
                     database='Mydatabase')

cursor = db.cursor()

cursor.execute("SHOW TABLES;")

result = cursor.fetchall()


for M in result:
    print(M)

db.close()

In [ ]:
# create connection to export the data to database from dataframe

from sqlalchemy import create_engine

# create sqlalchemy engine
eng = create_engine("mysql+pymysql://root:9545@localhost/Mydatabase"
                       .format(user='root',
                               port=3306,
                               password='9545',
                               database='Mydatabase'))

# Insert whole DataFrame into MySQL
dataset.to_sql('SARS', con = eng, if_exists = 'append',index=False, chunksize = 100000)

In [ ]:
#Fetch data from Database to dataframe
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pymysql.cursors

db = pymysql.connect(host='127.0.0.1',
                     user='root',
                     port=3306,
                     password='9545',
                     database='Mydatabase')

try:
    SQL = "Select * from SARS;"
    df_new = pd.read_sql(SQL,db)
    db.close()
    
except Exception as exp:
    db.close()
    print(str(exp))

In [ ]:
df_new

In [ ]:
df_new.info()

In [ ]:
#change the datatype to category for visualisation
df_new['Concentration_SARS_CoV2']=df_new['Concentration_SARS_CoV2'].astype(float , errors = 'raise')
df_new['Per_capita_SARS_CoV2_load']=df_new['Per_capita_SARS_CoV2_load'].astype(float , errors = 'raise')
df_new['Population_Served']=df_new['Population_Served'].astype('int64') 
df_new['WRRF_Name']=df_new['WRRF_Name'].astype('category') 
df_new['WRRF_Abbreviation']=df_new['WRRF_Abbreviation'].astype('category') 

df_new.info()

In [ ]:
#checking categorical values for WRRF_Name
pd.DataFrame(df_new.WRRF_Name.value_counts())

In [ ]:
#checking categorical values for WRRF_Abbreviation
pd.DataFrame(df_new.WRRF_Abbreviation.value_counts())

# Visualisation

Start of Visualisation by Ayusha Kashilkar - Leading causes of death

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px


color = sns.color_palette()
index=["cancer", "All other causes", "Diseases of Heart", "Flu and Pneumonia", "Diabetes Melitus","Stroke","Respiratory Diseases","Renal Diseases ","accidents","Poisoning"]
#cancer\allother causes\Diseases of Heart
#Flu and Pneumonia
#Diabetes Melitus
#Stroke
#Respiratory Diseases
#Renal Diseases 
#accidents
#Poisoning

a= data.leading_cause.value_counts().sort_values(ascending=False).head(10)
plt.figure(figsize=(12,8))
sns.barplot(a.index,a, alpha=0.8)
plt.ylabel('Causes of Death', fontsize=12)
plt.xlabel('Deaths', fontsize=12)
plt.title('Causes of death', fontsize=15)
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
#colors = sns.color_palette('pastel')[0:1]
plt.figure(figsize=(12,8))
sns.barplot(data.sex, data.deaths, alpha=0.8)
plt.ylabel('Number of Occurrences', fontsize=12)
plt.xlabel('Reason type', fontsize=12)
plt.title('Count of rows in each dataset (reason_type)', fontsize=15)
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
fig = plt.figure()

# Divide the figure into a 1x2 grid, and give me the first section


# Divide the figure into a 1x2 grid, and give me the second section
ax2 = fig.add_subplot(122)
a= data.leading_cause.value_counts().sort_values(ascending=False).head(10)
datas.groupby('race_ethnicity')['deaths'].mean().sort_values().plot(kind='barh', ax=ax2)

In [ ]:

#datas.groupby(['race_ethnicity']).sum().plot(kind='pie', y='deaths',autopct='%1.0f%%',)
colors = sns.color_palette('pastel')[0:8]
ax = datas.groupby(['race_ethnicity']).sum().plot(kind="pie",y='deaths',colors = colors, autopct='%1.1f%%', shadow=True,   legend=True, title='Death Percentage by Ethnicity', ylabel='', labeldistance=None)
ax.legend(bbox_to_anchor=(1, 1.02), loc='upper left')
plt.show()

In [ ]:
ax = datas.groupby(['year']).sum().plot(kind="line", y='death_rate',     legend=True, title='Death Percentage by Ethnicity', )
ax.legend(bbox_to_anchor=(1, 1.02), loc='upper left')
plt.show()

In [ ]:
plt.subplot(1,2,1)
sns.countplot('race_ethnicity', hue = "leading_cause", data = datas)

In [ ]:
datas.head()

In [ ]:
b = datas.query("leading_cause == 'Stroke'")
fig = plt.figure()

# Divide the figure into a 1x2 grid, and give me the second section
ax2 = fig.add_subplot(122)
a= b.value_counts().sort_values(ascending=False).head(10)
plt.barh(datas.race_ethnicity,datas.deaths)

In [ ]:
b = datas.query("leading_cause == 'Stroke'")
fig = plt.figure()

# Divide the figure into a 1x2 grid, and give me the second section
ax2 = fig.add_subplot(122)
a= b.value_counts().sort_values(ascending=False).head(10)
datas.groupby('race_ethnicity')['deaths'].mean().sort_values().plot(kind='barh', ax=ax2)

In [ ]:
fig, ax = plt.subplots(2,1,figsize=(18,18))
ax = ax.ravel()



##Remove
sns.barplot(data=datas, y="deaths", x="year", ax=ax[0])
##



sns.barplot(data=datas, y="deaths", x="leading_cause", ax=ax[1])



ax[0].set_title("Deaths and year")
ax[1].set_title("Deaths by Leading Causes")




fig.tight_layout()

In [ ]:
sns.set_theme(style="ticks")

exercise = sns.load_dataset("exercise")
g = sns.catplot(x="year", y="deaths", hue="sex", col = "race_ethnicity",col_wrap=3, height=5, aspect=.6, data=datas)

In [ ]:
sns.set_theme(style="ticks")

exercise = sns.load_dataset("exercise")
g = sns.catplot(x="year", y="deaths", hue="leading_cause", col = "sex", data=datas)

In [ ]:
d1 = datas
d1 = datas.leading_cause.value_counts().sort_values(ascending=False).head(10)
d1

Start of visualisation by Shweta Salekar on Jobs

In [ ]:
dataset.agency.value_counts().head(20).plot(kind='pie',figsize=(10,10))

In [ ]:
sns.catplot(x="posting_type", hue="full_time_part_time_indicator", col="salary_frequency",
                data=dataset, kind="count",
                height=4, aspect=.7);

In [ ]:
sns.catplot(x="salary_frequency", hue="level", col="full_time_part_time_indicator",
                data=dataset, kind="count",
                height=4);

Start of Visualisation by Suchal Pote for SARS

In [ ]:
#lineplot of Concentration of the N1 target of SARS-CoV2 genetic material measured in wastewater influent.
plt.figure(figsize=(30,20)) 
plt.plot(df_new['Concentration_SARS_CoV2'],color='purple')

plt.title("Scatter Plot")
plt.ylabel('Concentration of the N1 target of SARS-CoV2 genetic material measured in wastewater influent.') 
plt.show()

In [ ]:
#Histogram of Per_capita_SARS_CoV2_load
plt.figure(figsize=(30,20))
sns.distplot(df_new["Per_capita_SARS_CoV2_load"],color='purple')

In [ ]:
#scatterplot of the Per_capita_SARS_CoV2_load and Concentration_SARS_CoV2 
plt.figure(figsize=(25,15))
sns.stripplot(x="Per_capita_SARS_CoV2_load",y="Concentration_SARS_CoV2", data=df_new, size=10, palette="cubehelix")

In [ ]:
#Pie chart for the number of Wastewater Resource Recovery Facility
plt.figure(figsize=(10,10))
from matplotlib.pyplot import pie, axis, show
df_new.groupby('WRRF_Abbreviation').size().plot(kind='pie',ylabel='Wastewater Resource Recovery Facility', autopct='%.2f')

In [ ]:
#scatterplot of the sample date and Concentration_SARS_CoV2 

plt.figure(figsize=(25,15))
sns.stripplot(x="Concentration_SARS_CoV2",y="Sample_Date", data=df_new, size=10,palette="dark:salmon_r")

In [ ]:
#Pie chart of Wastewater Resource Recovery Facility and Population of sewershed.
import plotly.express as px
df = px.data.tips()
fig = px.pie(df_new, values='Population_Served', names='WRRF_Name', color_discrete_sequence=px.colors.sequential.RdBu)
fig.show()

In [ ]:
#lineplot of Concentration_SARS_CoV2,Per_capita_SARS_CoV2_load and hue parameter WRRF_Abbreviation
plt.figure(figsize=(15,8))
sns.lineplot(data=df_new, x='Concentration_SARS_CoV2',y='Per_capita_SARS_CoV2_load', hue =df_new["WRRF_Abbreviation"])