In [1]:
#connecting to mongo db and loading dataset by retrieving from API
import requests
import json
from pymongo import MongoClient

client= MongoClient("mongodb+srv://dap:dap@cluster0.nddcd.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")

db= client['Census_2010_2020']
collection= db['Census_2010_2020']

try:
    response_API= requests.get('https://data.ny.gov/resource/sxhg-qquj.json')
    data= response_API.text
    a=json.loads(data)
    b= collection.insert_many(a)
    
except:
    print("dataset cannot be loaded")

In [2]:
#Retrive data from mognodb to dataframe
import pandas as pd
myclient = MongoClient("mongodb+srv://dap:dap@cluster0.nddcd.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
database = myclient['Census_2010_2020']
collection = database['Census_2010_2020']
dataset = pd.DataFrame(list(collection.find()))
dataset

,_id,area_type,area_name,_2010_census_population,_2020_census_population,population_change,population_percent_change
0,62644343f953c1e2d56ce7b1,State,New York State,19378102,20201249,823147,0.0425
1,62644343f953c1e2d56ce7b2,County,Albany County,304204,314848,10644,0.035
2,62644343f953c1e2d56ce7b3,County,Allegany County,48946,46456,-2490,-0.0509
3,62644343f953c1e2d56ce7b4,County,Bronx County,1385108,1472654,87546,0.0632
4,62644343f953c1e2d56ce7b5,County,Broome County,200600,198683,-1917,-0.0096
...,...,...,...,...,...,...,...
995,62644343f953c1e2d56ceb94,Town,Annsville town,3012,2639,-373,-0.1238
996,62644343f953c1e2d56ceb95,Town,Pike town,1114,975,-139,-0.1248
997,62644343f953c1e2d56ceb96,Town,Orange town,1609,1408,-201,-0.1249
998,62644343f953c1e2d56ceb97,Town,Smithfield town,1288,1127,-161,-0.125
999,62644343f953c1e2d56ceb98,Town,Rockland town,3775,3290,-485,-0.1285

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   _id                        1000 non-null   object
 1   area_type                  1000 non-null   object
 2   area_name                  1000 non-null   object
 3   _2010_census_population    999 non-null    object
 4   _2020_census_population    1000 non-null   object
 5   population_change          999 non-null    object
 6   population_percent_change  999 non-null    object
dtypes: object(7)
memory usage: 54.8+ KB

In [4]:
dataset.isnull().sum()

_id                          0
area_type                    0
area_name                    0
_2010_census_population      1
_2020_census_population      0
population_change            1
population_percent_change    1
dtype: int64

In [5]:
dataset.dropna(how='any',inplace=True)
dataset.isnull().sum()

_id                          0
area_type                    0
area_name                    0
_2010_census_population      0
_2020_census_population      0
population_change            0
population_percent_change    0
dtype: int64

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 999 entries, 0 to 999
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   _id                        999 non-null    object
 1   area_type                  999 non-null    object
 2   area_name                  999 non-null    object
 3   _2010_census_population    999 non-null    object
 4   _2020_census_population    999 non-null    object
 5   population_change          999 non-null    object
 6   population_percent_change  999 non-null    object
dtypes: object(7)
memory usage: 62.4+ KB

In [7]:
dataset.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 999, dtype: bool

In [8]:
dataset.drop_duplicates()

,_id,area_type,area_name,_2010_census_population,_2020_census_population,population_change,population_percent_change
0,62644343f953c1e2d56ce7b1,State,New York State,19378102,20201249,823147,0.0425
1,62644343f953c1e2d56ce7b2,County,Albany County,304204,314848,10644,0.035
2,62644343f953c1e2d56ce7b3,County,Allegany County,48946,46456,-2490,-0.0509
3,62644343f953c1e2d56ce7b4,County,Bronx County,1385108,1472654,87546,0.0632
4,62644343f953c1e2d56ce7b5,County,Broome County,200600,198683,-1917,-0.0096
...,...,...,...,...,...,...,...
995,62644343f953c1e2d56ceb94,Town,Annsville town,3012,2639,-373,-0.1238
996,62644343f953c1e2d56ceb95,Town,Pike town,1114,975,-139,-0.1248
997,62644343f953c1e2d56ceb96,Town,Orange town,1609,1408,-201,-0.1249
998,62644343f953c1e2d56ceb97,Town,Smithfield town,1288,1127,-161,-0.125
999,62644343f953c1e2d56ceb98,Town,Rockland town,3775,3290,-485,-0.1285

In [9]:
import psycopg2
conn= psycopg2.connect(dbname='postgres',user='postgres',password='password',host='localhost')
print(conn)
conn.autocommit=True

<connection object at 0x00000215FD21CD00; dsn: 'user=postgres password=xxx dbname=postgres host=localhost', closed: 0>

In [10]:
import sqlalchemy as sqla
engine=sqla.create_engine('postgresql://postgres:password@localhost:5432/postgres')
con_engine=engine.connect()

In [11]:
dataset.to_sql('Census_',con_engine, if_exists='replace',index=False)

ProgrammingError: (psycopg2.ProgrammingError) can't adapt type 'ObjectId'
[SQL: INSERT INTO "Census_" (_id, area_type, area_name, _2010_census_population, _2020_census_population, population_change, population_percent_change) VALUES (%(_id)s, %(area_type)s, %(area_name)s, %(_2010_census_population)s, %(_2020_census_population)s, %(population_change)s, %(population_percent_change)s)]
[parameters: ({'_id': ObjectId('62644343f953c1e2d56ce7b1'), 'area_type': 'State', 'area_name': 'New York State', '_2010_census_population': '19378102', '_2020_census_population': '20201249', 'population_change': '823147', 'population_percent_change': '0.0425'}, {'_id': ObjectId('62644343f953c1e2d56ce7b2'), 'area_type': 'County', 'area_name': 'Albany County', '_2010_census_population': '304204', '_2020_census_population': '314848', 'population_change': '10644', 'population_percent_change': '0.035'}, {'_id': ObjectId('62644343f953c1e2d56ce7b3'), 'area_type': 'County', 'area_name': 'Allegany County', '_2010_census_population': '48946', '_2020_census_population': '46456', 'population_change': '-2490', 'population_percent_change': '-0.0509'}, {'_id': ObjectId('62644343f953c1e2d56ce7b4'), 'area_type': 'County', 'area_name': 'Bronx County', '_2010_census_population': '1385108', '_2020_census_population': '1472654', 'population_change': '87546', 'population_percent_change': '0.0632'}, {'_id': ObjectId('62644343f953c1e2d56ce7b5'), 'area_type': 'County', 'area_name': 'Broome County', '_2010_census_population': '200600', '_2020_census_population': '198683', 'population_change': '-1917', 'population_percent_change': '-0.0096'}, {'_id': ObjectId('62644343f953c1e2d56ce7b6'), 'area_type': 'County', 'area_name': 'Cattaraugus County', '_2010_census_population': '80317', '_2020_census_population': '77042', 'population_change': '-3275', 'population_percent_change': '-0.0408'}, {'_id': ObjectId('62644343f953c1e2d56ce7b7'), 'area_type': 'County', 'area_name': 'Cayuga County', '_2010_census_population': '80026', '_2020_census_population': '76248', 'population_change': '-3778', 'population_percent_change': '-0.0472'}, {'_id': ObjectId('62644343f953c1e2d56ce7b8'), 'area_type': 'County', 'area_name': 'Chautauqua County', '_2010_census_population': '134905', '_2020_census_population': '127657', 'population_change': '-7248', 'population_percent_change': '-0.0537'}  ... displaying 10 of 999 total bound parameter sets ...  {'_id': ObjectId('62644343f953c1e2d56ceb97'), 'area_type': 'Town', 'area_name': 'Smithfield town', '_2010_census_population': '1288', '_2020_census_population': '1127', 'population_change': '-161', 'population_percent_change': '-0.125'}, {'_id': ObjectId('62644343f953c1e2d56ceb98'), 'area_type': 'Town', 'area_name': 'Rockland town', '_2010_census_population': '3775', '_2020_census_population': '3290', 'population_change': '-485', 'population_percent_change': '-0.1285'})]
(Background on this error at: https://sqlalche.me/e/14/f405)